* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
  
body {
    background-color: white;
    font-weight: normal;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-size: 40px;
    color: #20478b;
}

h2 {
    font-size: 26px;
    color: #20478b;
}

h3 {
    font-size: 24px;
    color: #20478b;
}

h4 {
    font-size: 22px;
    color: #4789f2;
}

h5 {
    font-size: 20px;
    color: #20478b;
}

h6 {
    font-size: 18px;
    color: #20478b;
}

p {
    text-align: justify;
}

figure {
    text-align: center;
}

img {
    max-width: 100%;
    height:auto;
}

a:link {
    color: #20478b;
    text-decoration: none;
}

a:visited {
    color: #20478b;
    text-decoration: none;
}

a:hover {
    color: #4789f2;
    text-decoration: none;
}

a:active {
    color: #20478b;
    text-decoration: none;
}

button:hover {
    cursor: pointer;   
}

abbr {
    text-decoration: none;
}
/* Itens do Index */

#navIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: #20478b;
}

.navIndexItens {
    color: white;
    padding: 0 20px;
}

#profissional {
    background-image: url('imagens/background-op30.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20478b;
    color: white;
    padding:10px;
}

#whatsapp {
    position: fixed; bottom: 20px; right: 30px; z-index: 9999;
}

/* Itens dos Artigos */

.headerArticle {
    background-color: #20478b;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    margin: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
}

.navArticle {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 20px;
}

.navUlArticle {
    list-style-type: none;
    padding: 0;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.logoContato {
    width:42px
}

.footerItem {
    padding: 0 10px;
}

@media (max-width: 600px) {
    .navArticle, article {
      width: 100%;
      height: auto;
    }
    .logoContato {
        width: 21px;
      }
    .footerItem {
        padding: 0 5px;
      }
}

/* Comentário no CSS */